@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kalam&display=swap');
.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: calc(100vh - 100px);
  position: relative;
}
.container{
  width: 60%;
  min-height: 450px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(240, 248, 255, 0.177); */
  background: rgba(194, 184, 184, 0.2);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(69, 69, 69, 0.3);
  border-radius: 25px;
  position: relative;
}
.container p{
   color: aliceblue;
   font-size: 16px;
}
.content{
  width: 70%;
  height: 90px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.content button{
  width: 150px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(30deg,rgba(38, 37, 37, 0.245),rgba(17, 17, 17, 0.251));
  border: 2px solid #000000;
  color: rgb(223, 221, 221);
  font-size: 15px;
  cursor: pointer;
}
.content input{
  width: 70%;
  height: 60px;
  background: transparent;
  border: 5px solid rgba(27, 27, 27, 0.537);
  outline: none;
  text-align: center;
  border-radius: 20px;
  color: whitesmoke;
}
.content input::placeholder{
  color: rgb(181, 178, 178);
  font-weight: 600;
}
.balance{
  position: absolute;
  right: 5%;
  top: 5%;
  color: rgb(195, 200, 203);
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif; 
}
.circle1{
position: absolute;
width: 250px;
height: 250px;
top: 10%;
right: 10%;
filter: blur(73px);
background: linear-gradient(45deg,#C06C84,#6C5B7B,#355C7D);
}
.circle2{
position: absolute;
width: 250px;
height: 250px;
top: 30%;
border-radius: 50%;
left: 10%;
filter: blur(93px);
background: linear-gradient(45deg,#7303c0,#8908ec,#355C7D);
}
.moneyTree{
  width: 150px;
  height: 240px;
  object-fit: contain;
  filter: grayscale(10%);
}
.warning{
  color: rgb(182, 5, 5);
  font-size: 15px;
  letter-spacing: 1px;
}